#GlobalFooter{
    color: #e8e8e8;
    background-color: #30475e;
    height: 120px;
    bottom: 0;
  }
  #GlobalFooter a{
    color: #e8e8e8;
    text-decoration: none;
  }
  #GlobalFooter a:visited{
    color: #e8e8e8;
  }
  #GlobalFooter a:hover{
    color: #e8e8e8;
    text-decoration: underline #e8e8e8;
  }
  .Foot{
    width: 100%;
    height: 80px;
    max-width: 1000px;
    margin: auto;
  }

  ul.footerList{
    list-style-type: none;
    float: left;
    padding-left: 20px;
  }

  /*--COPYRIGHT--*/
  .copyright{
    width: 100%;
    font-size: 11px;
    text-align: center;
    bottom: 10px;
  }