#UECsidebar {
    min-width: 150px;
    font-weight:600;
}

#UECsidebar ul{
    width: 120px;
    background-color: rgba(48, 71, 94, 0.7);
    backdrop-filter: blur(5px);
    border:1px solid #30475e;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    position: sticky;
    top: 100px;
    list-style-type: none;
}

#UECsidebar li{
    padding:5px 0;
}

#UECsidebar li a{
    font-size: 18px;
    color: #e8e8e8;
    text-decoration: none;
    transition: .4s;
}

#UECsidebar li a:hover{
    color: #ffc93c;
}

.uecsection{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

@media screen and (max-width: 650px){
    .uecsection{
        display: block;
    }

    #UECsidebar{
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1;
        margin: 0px 2px 1px 1px;
        display: flex;
    }
    #UECsidebar ul{
        width: 100%;
        padding: 0 7px;
        top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #UECsidebar li{
        display: inline-block;
        padding:5px;
        text-align: center;
    }
    #UECsidebar li a span{
        display: inline-block;
    }
  }

  @media screen and (min-width: 501px){
    .uecsection .DispImg img{
      width: 350px;
    }
  }